extends layout

block content
  h1= title
  p The calculation you chose is: #{calculation}
  p Your 1st number is: #{x}
  p Your 2nd number is: #{y}
  p Your answer is : #{answer}
  #calculatorForm
   form(name="calculator", action="/calculator", method="get")
    label Calculation
    select(name="calculation")
     option(value="add",selected) Add
     option(value="subtract") Subtract
     option(value="multiply") Multiply
     option(value="divide") Divide
    br
    br
    input(type="number", name="x", placeholder="Enter first number") 
    br
    br
    input(type="number", name="y", placeholder="Enter second number")
    br
    br
    input(type="submit", value="Calculate")
